
<div class="row">
  <div class="col-md-6">
    <h2>Create A Blog</h2>
 <div>
   <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-name">Blog Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
      <div class="form-group">
        <label for="blog-info">Blog Info:</label>
        <textarea class="form-input" id="blog-info" name="blog-info"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
  <div class="col-md-6">


  <script src="js/create.js"></script>